@import url(variables.css);

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;

    background-color: blueviolet;
    /* height: 898px; */
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 72px;
    background-color: #2E0230;
    gap: 377px;
    /* background-color: aqua; */
}

.icon {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #F1ACEE;
    border-bottom: none;
    background-color: transparent;
    /* background-color: aquamarine; */

}

/* search_container */
.search-container {

    display: flex;
    width: 100%;
    height: 48px;
    padding-left: 16px;
    justify-content: space-between;
    align-items: center;
    /* gap: 303px; */
    border-radius: 8px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    box-shadow: 0px -2px 5px 0px #F1ACEE;

}

#searchInput {
    display: flex;
    color: rgba(158, 141, 158, 0.71);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: transparent;

}

#searchButton {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 16px;
    align-items: center;
    color: #F1ACEE;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: #B052B5;
}

/* icon */
.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 42px;
    gap: 8px;
    padding: 8px 16px;
    /* background-color: aqua; */

}

.login button {
    display: flex;
    width: 134px;
    height: 42px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #F30AEA;

}

.login button a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #ffff;
    align-items: center;
    margin: auto;
    /* background-color: aquamarine; */
}

.user button {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #F30AEA;
    background-color: #2E0230;
    display: none;
}

.user button a {
    color: #ffff;
}

.cart button {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    background-color: #F30AEA;

}

.cart button a {
    color: #ffff;
}

/* form */
.contact_us {
    background-image: url(../image/cover.png);
    /* width: 1440px; */
    max-width: 100%;
    height: 898px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_box {
    display: flex;
    width: 864px;
    height: 770px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 200px;
    /* gap: 80px; */
    border-radius: 20px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    background: rgba(28, 19, 37, 0.80);
    backdrop-filter: blur(5px);
    /* background-color: aqua; */
}


.contact {
    display: flex;
    height: 26px;
    margin-top: 48px;
    left: 310px;
    color: #FFF;
    text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 81.25% */
    letter-spacing: 4px;
    /* background-color: aquamarine; */
}


.Name {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

#name,
#email {
    border: var(--button-borders);
    border-radius: 8px;
    color: rgba(158, 141, 158, 0.71);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding: 11px 0 11px 22px;
    margin-top: 80px;

    background-color: rgba(0, 0, 0, 0);
}

.question-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-top: 24px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #B052B5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-top: 16px;
}

.radio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #B052B5;
    margin-bottom: 5px;
    cursor: pointer;

}

.radio-button:checked::after {
    content: "";
    width: 11px;
    height: 11px;
    background-color: #F30AEAB5;
    border-radius: 50%;
    display: inline-block;

}

.radio-label {
    margin-left: 8px;
}

label {
    display: flex;
    align-items: center;
    /* margin-top: 24px; */
}

textarea {
    display: flex;
    width: 100%;
    height: 112px;
    padding: 11px 370px 75px 22px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #B052B5;
    background-color: rgba(0, 0, 0, 0);

}

#additional-comments {
    margin-top: 8px;
    color: rgba(158, 141, 158, 0.71);
    font-family: Poppins sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.textarea label {
    margin-top: 24px;

}

.check_box {
    display: flex;
    margin-top: 24px;
    gap: 8px;


}

#check_in label {
    color: #FFF;
    font-family: Poppins sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    162.5%;
}

.check_box input {
    display: flex;
    align-items: center;
    appearance: none;
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3.997px 3.997px 4px 4px;
    border-radius: 4px;
    border: 2px solid #F30AEA;

    /* background-color: aqua; */
}

.check_box :checked::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    display: flex;
    width: 16px;
    height: 16px;
    color: #F30AEA;
    /* transform: rotate(-179.989deg); */
    flex-shrink: 0;
    /* background-color: aqua; */
}

.send_button {
    display: flex;
    width: 464px;
    padding: 19px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #F30AEA;
    border: none;

}

#send_button {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
    border: none;
    background-color: #F30AEA;

}