@media (max-width:835px){
     /* header */


 header {
    padding-inline: 40px;
    gap: 270px;
}
 
    #searchInput{
    display: none;
}
 #searchButton {
background: none;
}
 #searchButton i{
    background: transparent;
    font-size: 32px;
    
 }
 .search-container{
    border: none;
    border-radius: none;
    box-shadow: none;
    background: transparent;
}

    .contact_us{
    padding-inline: 40px;
}
}